# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#logs should not be committed
Logs

#cache
cache

# Legacy ZF1
demos/
extras/documentation